
<%= content_for :links do %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<% end %>
<% content_for :content do %>
    <div class="wrapper preload">
      <%= render "shared/top" %>
      <%= render "shared/sidebar" %>
      <div class="main-container">
        <div class="padding-md">
          <div class="row">
            <div class="col-sm-6">
              <div class="page-title">
                Panel
              </div>
              <div class="page-sub-header">
                Bienvenido al panel de administración
              </div>
            </div>
          </div>

          <div class="row m-top-md">
            <div class="col-lg-3 col-sm-6">
              <div class="statistic-box bg-danger m-bottom-md">
                <div class="statistic-title">
                  Visitantes de hoy
                </div>

                <div class="statistic-value">
                  96.7k
                </div>

                <div class="m-top-md">11% Higher than last week</div>

                <div class="statistic-icon-background">
                  <i class="ion-eye"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="statistic-box bg-info m-bottom-md">
                <div class="statistic-title">
                  Ventas de hoy
                </div>

                <div class="statistic-value">
                  751
                </div>

                <div class="m-top-md">8% Higher than last week</div>

                <div class="statistic-icon-background">
                  <i class="ion-ios7-cart-outline"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="statistic-box bg-purple m-bottom-md">
                <div class="statistic-title">
                  Usuarios de hoy
                </div>

                <div class="statistic-value">
                  129
                </div>

                <div class="m-top-md">3% Higher than last week</div>

                <div class="statistic-icon-background">
                  <i class="ion-person-add"></i>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="statistic-box bg-success m-bottom-md">
                <div class="statistic-title">
                  Ganancias de hoy
                </div>

                <div class="statistic-value">
                  $124.45k
                </div>

                <div class="m-top-md">7% Higher than last week</div>

                <div class="statistic-icon-background">
                  <i class="ion-stats-bars"></i>
                </div>
              </div>
            </div>
          </div>

        </div><!-- ./padding-md -->
      </div><!-- /main-container -->
    </div><!-- /wrapper -->
    <%= render "shared/footer" %>
    <a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
<% end %>
