<%= content_for :links do %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<% end %>
<% content_for :content do %>



  <div class="main-container">
    <div class="padding-md">


		<div class='row'>
		  <div class= 'col-md-2'></div>
		  <div class= 'col-md-6'>
			<h1> Grupo 6 </h1>
			<h3> ¡Estamos de vuelta!</h3>
			<h4>- Más fuertes que nunca -</h4>
			<br>
			<br>
			<%=  link_to 'Documentación de nuestra API', doc_path %>
			<br>
			<br>
			<%=  link_to 'Tienda 6commerce', '/tienda/' %>

			<br>
			<br>
			<%=  link_to 'Dashboard y órdenes', '/dashboard' %>
      <br>
      <br>
      <%=  link_to 'Login como admin', '/tienda/admin' %>
      <br>
      <br>
		   </div>
		 </div>

	</div>
   </div>

<% end %>
